/*GENERAL RULES*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER RULES */
header {
  background-color: #222f3f;
  height: 3em;
}

header img {
  object-fit: contain;
  height: 100%;
  padding: 0.5em;
}

/* NAV RULES */
nav {
  background-color: #364757;
  height: 2em;
}

nav div {
  padding-top: 0.5em;
}

nav div a {
  padding: 0.5em;
  color: white;
}

/* MAIN RULES */
main {
  padding: 1em;
  text-align: center;
  background-color: #e9edee;
}

.orangebar {
  background-color: #f56600;
  height: 2rem;
  text-align: center;
  color: white;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

.holidaybar {
  background-image: url("../images/bg-image.png");
  background-position: center center;
  height: 8em;
  padding-top: 1.5em;
  margin-bottom: 1em;
  color: white;
}

h1 {
  font-size: 1.5rem;
}

.gifter {
  padding: 2em;
}

main img {
  width: 100%;
}

section {
  background-color: white;
  margin-bottom: 1em;
}

section p {
  text-align: left;
  padding: 1em;
  margin-bottom: 0;
}

.column {
  float: left;
  width: 25%;
  padding: 0em 1em 1em;
  object-fit: cover;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

section div img {
  border-radius: 15px;
  box-shadow: 0 3px 3px #bababa;
}

p {
  margin-bottom: 1em;
}

p a {
  color: #2d656c;
}
/*FOOTER RULES */
.centered {
  text-align: center;
  background-color: #364757;
  height: 2em;
  padding-top: 0.5em;
}

.bottomlink {
  color: white;
}

footer {
  background-color: #222f3f;
  height: 5em;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 1em;
}
